:root {
  /* layout */
  --app-bar-width: 90px;
  --app-sidebar-width: 400px;
  --searchbox-height: 110px;
  --sidebar-footer-height: 75px;
  --chat-header-height: 125px;
  --chat-header-height-mobile: 100px;
  --chat-textarea-height: 130px;
  --chat-bar-height: 40px;
  --chat-item: 100px;

  /* text */
  --footer-text: 14px;
  --header-title: 20px;
  --header-status: 16px;
  --chat-bar-text: 16px;
  --chat-preview: 18px;
  --time-stamp: 14px;
  --chat-status-text: 14px;
  --chat-messages-text: 16px;
  --header-title-mobile: 18px;
  --header-status-mobile: 14px;
  --badge-text: 14px;
  --badge-text-mobile: 12px;

  /* status */
  --active: #4de458;
  --inactive: #707370;
  --busy: #eb2345;

  /* brands */
  --telegram: #0088cc;
  --whatsapp: #4fce5d;
  --fb-messenger: #0078ff;

  /* badges */
  --success: #4de458;
  --warn: #ffa167;
  --info: #2be5ff;

  /* icons */
  --icon-lg: 2em;
  --icon-md: 1.6em;
  --icon-sm: 1.3em;
  --icon-xs: 1em;
}

.chat-bubble {
  position: relative;
  margin-top: 15px;
  max-width: 400px;
  padding: 15px 90px 15px 30px;
  border-radius: 8px;
  font-size: var(--chat-messages-text);
  text-align: left;
}

.chat-timestamp {
  font-size: 12px;
  text-align: right;
  position: absolute;
  bottom: 6px;
  right: 20px;
}

/** Transitions **/

.route-enter-from {
  transform: translateX(-100vw);
  opacity: 0;
}

.route-leave-to {
  transform: translateX(100vw);
  opacity: 0;
}
.route-enter-active,
.route-leave-active {
  transition: all 0.2s ease;
}

.router-leave-from {
  opacity: 1;
  transform: translateX(0px);
}

.route-enter-to {
  opacity: 1;
  transform: translateX(0px);
}

#app {
  font-family: "ProximaNova";
  box-sizing: border-box;
}

/** Fonts **/
@font-face {
  font-family: ProximaNova;
  src: local("ProximaNova"),
    url(../fonts/ProximaNova-Regular.otf) format("truetype");
}

/** Scrollbar **/

*::-webkit-scrollbar {
  width: 8px;
  height: 2px;
}
*::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
*::-webkit-scrollbar-thumb {
  background: var(--scroll-bar-button);
  border: 0px none var(--scroll-bar-border);
  border-radius: 10px;
}
*::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-bar-button-hover);
}
*::-webkit-scrollbar-thumb:active {
  background: var(--scroll-bar-button-active);
}
*::-webkit-scrollbar-track {
  background: var(--scroll-bar-color);
  border: 0px none #ffffff;
  border-radius: 0px;
}
*::-webkit-scrollbar-track:hover {
  background: var(--scroll-bar-color);
}
*::-webkit-scrollbar-track:active {
  background: var(--scroll-bar-active);
}
*::-webkit-scrollbar-corner {
  background: transparent;
}

/* Small devices (landscape phones, 600px and up) */
@media (max-width: 600px) {
  *::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
  *::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
}
