:root {
  --app-bar-width: 90px;
  --app-sidebar-width: 400px;
  --telegram: #0088cc;
  --telegram-opcaity: rgba(0, 136, 204, 0.5);
}

/** Fonts **/
@font-face {
  font-family: ProximaNova;
  src: local("ProximaNova"),
    url(../fonts/ProximaNova-Regular.otf) format("truetype");
}
