:root {
  /* layout */
  --app-bar-width: 90px;
  --app-sidebar-width: 400px;
  --chat-header-height: 125px;
  --chat-textare-height: 160px;

  /* text */
  --footer-title: 16px;
  --footer-status: 14px;
  --header-title: 22px;
  --header-status: 18px;

  /* brands */
  --telegram: #0088cc;
  --telegram-opacity: rgba(--telegram, 0.5);

  /* badges */
  --success: #4de458;
  --warn: #ffa167;
  --info: #2be5ff;

  /* icons */
  --icon-lg: 2em;
  --icon-md: 1.6em;
  --icon-sm: 1.3em;
  --icon-xs: 1em;
}

#app {
  font-family: "ProximaNova";
  box-sizing: border-box;
}

.badge {
  font-size: 20px;
  color: #ffffff;
  padding: 10px;
  border-radius: 10px;
}
.badge-success {
  background-color: var(--success);
}
.badge-warn {
  background-color: var(--warn);
}
.badge-info {
  background-color: var(--info);
}

/** Fonts **/
@font-face {
  font-family: ProximaNova;
  src: local("ProximaNova"),
    url(../fonts/ProximaNova-Regular.otf) format("truetype");
}
